@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  font-size: 16px;
  font-family: Roboto, 'sans-serif';
  min-height: 100vh;
}
.nav{
  grid-row-start: 1;
  background-color: #030712;
  color: #f9fafb;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
  align-items: center;
}
ul{
  display: flex;
  gap: 20px;
  grid-column: 2;
  justify-self: end;
  margin-right: 20%;
}
ul li{
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
}
ul li:hover{
  text-decoration: underline;
  text-decoration-color: #675834;
}
.logo{
  font-weight: bold;
  grid-column: 1;
  margin-left: 20px;
}
.logo span{
  color: #675834;
}
.main {
  grid-row:2;
  background-color: #222F52;
}
.main-container {
  width: 100%;
  height: 100%;
  padding: 64px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.description-fields{
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.opening-times-fields{
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 2;
  align-items: center;
}
.opening-times-title{
  font-size: 64px;
  font-weight: bold;
  color: white;
}
.description-about-us{
  color: #f9fafb;
  font-size: 16px;
  inline-size: 500px;
  overflow-wrap: break-word;
  line-height: 2.5;
}
.title-field{
  font-size: 64px;
  font-weight: bold;
  color: white;
}
.pizza-span{
  font-weight: bold;
  color: #675834;
}
.image-container{
  height: 80%;
  width: 100%;
  grid-column: 2;
  position: absolute;
  top: 64px;
}
.button-container-opening-times button{
  padding: 8px 16px;
  background-color: #675834;
  color: #f9fafb;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.footer {
  grid-row: 3;
  background-color: #030712;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #f9fafb;
  font-weight: bold;
}
table{
  color: #f9fafb;
  font-size: 32px;
}
th{
  text-align: right;
}
.low-opacity{
  opacity: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: #675834;
}

.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 64px 16px;
  gap: 20px;
}
.main-dishes-title,.desserts-title,.drinks-title{
  font-size: 64px;
  color: #675834;;
  font-weight: bold;
  text-align: center;
}
.main-dishes-container,.desserts-container,.drinks-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mains-food-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pepperoni-field, .cheese-pizza-field, .vegetable-pizza-field,.chocolate-cake-field,.cheese-cake-field,.coco-cola-field,.mango-shake-field{
  display: grid;
  grid-template-rows: 4fr 2fr;
  gap: 10px;
  width: 500px;
  height: 500px;
}

.pepperoni-image-container, .cheese-pizza-image-container, .vegetable-pizza-image-container,.chocolate-cake-image-container, .cheese-cake-image-container,.coco-cola-image-container,.mango-shake-image-container{
  grid-row-start: 1;
}
.pepperoni-image-container img, .cheese-pizza-image-container img, .vegetable-pizza-image-container img,.chocolate-cake-image-container img,.cheese-cake-image-container img,.coco-cola-image-container img,.mango-shake-image-container img{
  width: 100%;
  height: 100%;
}

.pepperoni-description, .cheese-pizza-description, .vegetable-pizza-description,.chocolate-cake-description,.cheese-cake-description,.coco-cola-description,.mango-shake-description{
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 10px;

}
.pepperoni-description-title,.cheese-pizza-description-title,.vegetable-pizza-description-title,.chocolate-cake-description-title,.cheese-cake-description-title,.coco-cola-description-title,.mango-shake-description-title{
  font-size: 24px;
  color: #675834;
  font-weight: bold;
  grid-column-start: 1;
  grid-row-start: 1;
}
.pepperoni-description-price, .cheese-pizza-description-price,.vegetable-pizza-description-price ,.chocolate-cake-description-price,.cheese-cake-description-price,.coco-cola-description-price,.mango-shake-description-price{
  font-size: 24px;
  color: #f9fafb;
  font-style: italic;
  grid-column-start: 2;
  justify-self: end;
  grid-row-start: 1;
  
}
.pepperoni-description-info,.cheese-pizza-description-info,.vegetable-pizza-description-info,.chocolate-cake-description-info,.cheese-cake-description-info,.coco-cola-description-info,.mango-shake-description-info{
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #f9fafb;
  font-size: 16px;
  grid-row-start: 2;
  grid-column: 1/-1;
}
.contact-fields{
  display: grid;
  grid-template-columns: 1fr;
  padding: 64px;
  gap: 32px;
}
.ceo-fields,.chef-fields,.waiter-fields{
  display: grid;
  grid-template-columns: 1fr 100px;
  justify-self: center;
  width: 50%;
  height: 100px;
  gap: 10px;
}
.ceo-details,.chef-details,.waiter-details{
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ceo-details ul, .chef-details ul, .waiter-details ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ceo-details ul li, .chef-details ul li,.waiter-details ul li {
  list-style-type: none;
  color: #f9fafb;
  font-style: italic;
  margin-left: 10px;
}
.name{
  font-size: 24px;
  font-weight: bold;
  color: #675834;
}
.ceo-image-container,.chef-image-container, .waiter-image-container{
  grid-column-start: 2;
}
.ceo-image-container img,.chef-image-container img, .waiter-image-container img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
